<p>
  creacion-personas works!
</p>
	<div>
		<form>
			<td>Tipo de documento</td>
			<td>
				<select><option>Cedula</option><option>Pasaporte</option></select>
			</td>
			<tr>
				<td>id</td>
				<td><input type="text" name="numeroId" value={{id}} ></td>
			</tr>
			<tr>
				<td>Número de identificación</td>
				<td><input type="text" name="numeroId" value="{{numeroId}}" ></td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td><input type="text" name="nombre" value={{nombre}}></td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td><input type="text" name="apellido" value={{apellido}} ></td>
			</tr>
		</form>
	</div>>
